.navbar1{
    background-color: #eeeeee;
    display: flex;
    justify-content: space-around;
} 
.logo
{
    width: 200px;
    height: 100px;
    padding-right: 600px;
}
.join, .partner{
    color: rgb(80, 41, 116);    
    font-weight: bold;
}

.navbar2{
    display: flex;
    justify-content: space-evenly;
    background-color: #eeeeee;
    height: 60px;
    text-decoration: none;
    padding-right: 350px;
    padding-left: 250px;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

#imgphoto{
    width:800px;
    height: 500px;
}

#contentpara1{
    font-size: 20px;
}

.content{
    display: flex;
    justify-content: space-around;
}
#contentpara3{
    background-color: rgb(80, 41, 116);
    padding: 10px;
    font-weight:bold;
    color: white;
    padding-left:20px ;
    padding-right: 20px;
}
#contentpara2{
    font-weight: bold;
    font-size: 30px;
}
.imgcon{
    padding-top:150px;
    font-family:"Arial",sans-serif;

}
